//Margin and padding classes
$spaceAmounts: (1, 2, 3, 4, 5);

@each $space in $spaceAmounts {
  //Margins
  .m-#{$space} {
    //margin
    margin: #{$space}rem;
  }
  .mtb-#{$space} {
    //margin top-bottom
    margin: #{$space}rem 0;
  }
  .mlr-#{$space} {
    //margin left-right
    margin: 0 #{$space}rem;
  }

  //Padding
  .p-#{$space} {
    //padding
    padding: #{$space}rem;
  }
  .ptb-#{$space} {
    //padding top-bottom
    padding: #{$space}rem 0;
  }
  .plr-#{$space} {
    //padding left-right
    padding: 0 #{$space}rem;
  }
}
